html,body{
    margin: 0;
    min-height: 100%;
    padding-bottom: 10px;
}

body{
    background-image: url(../images/indexFon.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;

}

#personal_div{
    text-align: left;
    background: #fff;
    width: 70%;
    height: 100%;
    min-height : 450px;
    min-width: 730px;
    margin :0 auto;
    padding: 0;
    box-shadow: 0 20px 40px rgba(0,0,0,.4);
}

#user_data{
    margin: auto;
    margin-bottom: 5%;
    padding: 30px;
    text-align: left;
}

.user_p:hover{
    color: #c50000;
}

.button{
    padding: 5px;
    background: #ffe96f;
    border: 1px solid black;
    text-align: center;
    border-radius: 2px;
}

.button:hover{
    background: #fdd400;
}

th {
    cursor: pointer;
}

th:hover {
    background: yellow;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}
td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td {color: #6699ff;}